#ng-chat
{
    position:fixed;
    z-index:999;
    right:0;
    bottom:0;
    color: #5C5C5C;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: initial;
    font-size: 11pt;
    text-align: left;
}
.ng-chat-loading-wrapper
{
    height: 30px;
    text-align: center;
    font-size:0.9em;
}
#ng-chat-people
{
    position: relative;
    width: 240px;
    height:360px;
    border: 1px solid #A3A3A3;
    margin-right:20px;
    background-color: #FFF;
    box-shadow: 0 4px 8px rgba(0,0,0,.25);
    border-bottom:0;
}
    #ng-chat-people.ng-chat-people-collapsed
    {
        height:30px;
    }
.ng-chat-close
{
    color: #5C5C5C;
    text-decoration:none;
    float:right;
}
.ng-chat-title, .ng-chat-title:hover
{
    position: relative;
    z-index:2;
    height:30px;
    line-height: 30px;
    font-size:0.9em;
    padding: 0 10px;
    background-color:#FAFAFA;
    display: block;
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    cursor: pointer;
    /* background-color:#FFF; */
}
.ng-chat-title.shadowed
{
    box-shadow: 0 4px 8px rgba(0,0,0,.25);
}
    .ng-chat-title > strong{
        font-weight: 600;
        display: block;
        overflow: hidden;
        height: 30px;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 85%;
        float:left;
    }
#ng-chat-search_friend
{
    display: block;
    padding: 7px 10px;
    margin: 0 auto;
    width: calc(100% - 20px);
    margin-top: 10px;
    font-size: 0.9em;
    -webkit-appearance: searchfield;
}
#ng-chat-users
{
    padding: 0 10px;
    list-style: none;
    margin: 0;
    overflow: auto;
    position: absolute;
    top: 84px;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}
    #ng-chat-users li
    {
        clear: both;
        margin-bottom: 10px;
        overflow: hidden;
        cursor: pointer;
        max-height: 30px;
    }
        #ng-chat-users li > img, #ng-chat-users li > .icon-wrapper
        {
            float: left;
            margin-right: 5px;
            border-radius: 25px;
        }
        #ng-chat-users li > .icon-wrapper
        {
            background-color: #BABABA;
            overflow: hidden;
            width: 30px;
            height: 30px;
        }
            #ng-chat-users li > .icon-wrapper > i
            {
                color: #FFF;
                transform: scale(0.7);
            }
        #ng-chat-users li > strong
        {
            float: left;
            line-height: 30px;
            font-size: 0.8em;
            max-width: 57%;
            max-height: 30px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        #ng-chat-users li > .ng-chat-user-status
        {
            float: right;
            border-radius: 25px;
            width: 8px;
            height: 8px;
            margin-top:10px;
        }
        #ng-chat-users li > .ng-chat-user-status.online
        {
            background-color: #92A400;
        }
        #ng-chat-users li > .ng-chat-user-status.busy
        {
            background-color: #F91C1E;
        }
        #ng-chat-users li > .ng-chat-user-status.away
        {
            background-color: #F7D21B;
        }
        #ng-chat-users li > .ng-chat-user-status.offline
        {
            background-color: #BABABA;
        }
.ng-chat-unread-messages-count
{
    background-color: #E3E3E3;
    margin-left: 5px;
    padding: 0 5px;
    border-radius: 25px;
    font-size: 0.9em;
    color: #5C5C5C;
    line-height: 30px;
}
.ng-chat-window
{
    right:260px;
    height:360px;
    z-index:999;
    bottom:0;
    position: fixed;
    width:300px;
    border:1px solid #A3A3A3;
    border-bottom:0;
    box-shadow: 0 4px 8px rgba(0,0,0,.25);
}
.ng-chat-window-collapsed
{
    height: 30px !important;
}
    .ng-chat-window > input
    {
        font-size:0.8em;
        box-sizing: border-box;
        padding:0 5px;
        display:block;
        height: calc(10%);
        width:100%;
        border: none;
        border-top: 1px solid #A3A3A3;
    }
    .ng-chat-window .ng-chat-messages
    {
        padding: 10px;
        height: calc(90% - 30px);
        box-sizing: border-box;
        position: relative;
        overflow: auto;
        background-color: #FFF;
    }
        .ng-chat-window .ng-chat-messages .ng-chat-message
        {
            clear: both;
        }
        .ng-chat-window .ng-chat-messages .ng-chat-message > img, .ng-chat-window .ng-chat-messages .ng-chat-message > .icon-wrapper
        {
            position: absolute;
            left: 10px;
            border-radius: 25px;
        }
            .ng-chat-window .ng-chat-messages .ng-chat-message > .icon-wrapper
            {
                background-color: #BABABA;
                overflow: hidden;
                width: 30px;
                height: 30px;
            }
                .ng-chat-window .ng-chat-messages .ng-chat-message > .icon-wrapper > i
                {
                    color: #FFF;
                    transform: scale(0.7);
                }
        .ng-chat-window .ng-chat-messages .ng-chat-message > span
        {
            float: right;
            width: 65%;
            padding: 0;
            margin-top: 0;
            background-color:#E3E3E3;
            border-radius: 5px;
            padding: 10px;
            margin-top: 0;
            margin-bottom: 5px;
            font-size: 0.9em;
            word-wrap: break-word;
        }
        .ng-chat-window .ng-chat-messages .ng-chat-message.ng-chat-message-received > span
        {
            float: left;
            margin-left: 40px;
            padding-top: 7px;
            padding-bottom: 7px;
            background-color:#FFF;
            border: 3px solid #E3E3E3;
            margin-top: 0;
            margin-bottom: 5px;
        }