#ng-chat
{
    position:fixed;
    z-index:999;
    right:0;
    bottom:0;
    box-sizing: initial;
    font-size: 11pt;
    text-align: left;
}
    #ng-chat input
    {
        outline: none;
    }
    #ng-chat .shadowed
    {
        box-shadow: 0 4px 8px rgba(0,0,0,.25);
    }
.ng-chat-loading-wrapper
{
    height: 30px;
    text-align: center;
    font-size:0.9em;
}
.ng-chat-close
{
    text-decoration:none;
    float:right;
}
.ng-chat-title, .ng-chat-title:hover
{
    position: relative;
    z-index:2;
    height:30px;
    line-height: 30px;
    font-size:0.9em;
    padding: 0 10px;
    display: block;
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    cursor: pointer;
}
    .ng-chat-title .ng-chat-title-visibility-toggle-area
    {
        display: inline-block;
        width: 85%;
    }
    .ng-chat-title .ng-chat-title-visibility-toggle-area > strong{
        font-weight: 600;
        display: block;
        overflow: hidden;
        height: 30px;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 85%;
        float:left;
    }
    .ng-chat-title .ng-chat-title-visibility-toggle-area .ng-chat-participant-status
    {
        float: left;
        margin-left: 5px;
    }

.ng-chat-participant-status
{
    display: inline-block;
    border-radius: 25px;
    width: 8px;
    height: 8px;
    margin-top:10px;
}
.ng-chat-participant-status.online
{
    background-color: #92A400;
}
.ng-chat-participant-status.busy
{
    background-color: #F91C1E;
}
.ng-chat-participant-status.away
{
    background-color: #F7D21B;
}
.ng-chat-participant-status.offline
{
    background-color: #BABABA;
}
.ng-chat-unread-messages-count
{
    margin-left: 5px;
    padding: 0 5px;
    border-radius: 25px;
    font-size: 0.9em;
    line-height: 30px;
}

.ng-chat-options-container
{
    float: right;
    margin-right: 5px;
}