<div id="ng-chat" *ngIf="isBootstrapped && !unsupportedViewport">
    <div id="ng-chat-people" [ngClass]="{'ng-chat-people-collapsed':isCollapsed}">
        <a href="javascript:void(0);" class="ng-chat-title shadowed" (click)="onChatTitleClicked($event)">
            <span>
                {{localization.title}}
            </span>
        </a>
        <input *ngIf="searchEnabled" id="ng-chat-search_friend" type="search" [placeholder]="localization.searchPlaceholder" [(ngModel)]="searchInput" />
        <ul id="ng-chat-users" *ngIf="!isCollapsed" [ngClass]="{'offset-search': searchEnabled}">
            <li *ngFor="let user of filteredUsers" (click)="openChatWindow(user, true, true)">
                <div *ngIf="!user.avatar"  class="icon-wrapper">
                    <i class="user-icon"></i>
                </div>
                <img *ngIf="user.avatar" alt="" class="avatar" height="30" width="30"  src="{{user.avatar}}"/>
                <strong title="{{user.displayName}}">{{user.displayName}}</strong>
                <span [ngClass]="{'ng-chat-user-status': true, 'online': user.status == UserStatus.Online, 'busy': user.status == UserStatus.Busy, 'away': user.status == UserStatus.Away, 'offline': user.status == UserStatus.Offline}" title="{{getStatusTitle(UserStatus[user.status])}}"></span>
                <span *ngIf="unreadMessagesTotalByUser(user).length > 0" class="ng-chat-unread-messages-count">{{unreadMessagesTotalByUser(user)}}</span>
            </li>
        </ul>
    </div>
    <div *ngFor="let window of windows; let i = index" [ngClass]="{'ng-chat-window': true, 'ng-chat-window-collapsed': window.isCollapsed}" [ngStyle]="{'right': friendsListWidth + 20 + windowSizeFactor * i + 'px'}">
        <ng-container *ngIf="window.isCollapsed">
            <div class="ng-chat-title" (click)="onChatWindowClicked(window)">
                <strong title="{{window.chattingTo.displayName}}">
                    {{window.chattingTo.displayName}}
                </strong>
                <span [ngClass]="{'ng-chat-user-status': true, 'online': window.chattingTo.status == UserStatus.Online, 'busy': window.chattingTo.status == UserStatus.Busy, 'away': window.chattingTo.status == UserStatus.Away, 'offline': window.chattingTo.status == UserStatus.Offline}" title="{{getStatusTitle(UserStatus[window.chattingTo.status])}}"></span>
                <span *ngIf="unreadMessagesTotal(window).length > 0" class="ng-chat-unread-messages-count">{{unreadMessagesTotal(window)}}</span>
                <a href="javascript:void(0);" class="ng-chat-close" (click)="onCloseChatWindow(window)">X</a>
            </div>
        </ng-container>
        <ng-container *ngIf="!window.isCollapsed">
            <div class="ng-chat-title" (click)="onChatWindowClicked(window)">
                <strong title="{{window.chattingTo.displayName}}">
                    {{window.chattingTo.displayName}}
                </strong>
                <span [ngClass]="{'ng-chat-user-status': true, 'online': window.chattingTo.status == UserStatus.Online, 'busy': window.chattingTo.status == UserStatus.Busy, 'away': window.chattingTo.status == UserStatus.Away, 'offline': window.chattingTo.status == UserStatus.Offline}" title="{{getStatusTitle(UserStatus[window.chattingTo.status])}}"></span>
                <span *ngIf="unreadMessagesTotal(window).length > 0" class="ng-chat-unread-messages-count">{{unreadMessagesTotal(window)}}</span>
                <a href="javascript:void(0);" class="ng-chat-close" (click)="onCloseChatWindow(window)">X</a>
            </div>
            <div #chatMessages class="ng-chat-messages">
                <div *ngIf="window.isLoadingHistory" class="ng-chat-loading-wrapper">
                    <div class="loader">Loading history...</div>
                </div>
                <div *ngIf="hasPagedHistory && window.hasMoreMessages && !window.isLoadingHistory" class="ng-chat-load-history">
                	<a (click)="fetchMessageHistory(window)">{{localization.loadMessageHistoryPlaceholder}}</a>
                </div>

                <div *ngFor="let message of window.messages; let i = index" [ngClass]="{'ng-chat-message': true, 'ng-chat-message-received': message.fromId != userId}">
                    <div *ngIf="!window.chattingTo.avatar && isAvatarVisible(window, message, i)" class="icon-wrapper">
                        <i class="user-icon"></i>
                    </div>
                    <img *ngIf="window.chattingTo.avatar && isAvatarVisible(window, message, i)" alt="" class="avatar" height="30" width="30" [src]="window.chattingTo.avatar" />
                    <ng-container [ngSwitch]="message.type">
                        <span *ngSwitchCase="MessageType.Text" [innerHtml]="message.message | emojify:emojisEnabled | linkfy:linkfyEnabled"></span>
                        <div *ngSwitchCase="MessageType.File" [ngClass]="{'file-message-container': true, 'received': message.fromId != userId}">
                            <div class="file-message-icon-container">
                                <i class="paperclip-icon"></i>
                            </div>
                            <a class="file-details" [attr.href]="message.downloadUrl" target="_blank" rel="noopener noreferrer" (click)="this.markMessagesAsRead([message])" download>
                                <span class="file-message-title" [attr.title]="message.message">{{message.message}}</span>
                                <span *ngIf="message.fileSizeInBytes" class="file-message-size">{{message.fileSizeInBytes}} Bytes</span>
                            </a>
                        </div>
                    </ng-container>
                </div>
            </div>

            <div class="ng-chat-footer">
                <input #chatWindowInput 
                    type="text" 
                    [ngModel]="window.newMessage | emojify:emojisEnabled" 
                    (ngModelChange)="window.newMessage=$event" 
                    [placeholder]="localization.messagePlaceholder" 
                    [ngClass]="{'has-side-action': fileUploadAdapter}"
                    (keydown)="onChatInputTyped($event, window)" 
                    (blur)="toggleWindowFocus(window)" 
                    (focus)="toggleWindowFocus(window)"/>

                <!-- File Upload -->
                <ng-container *ngIf="fileUploadAdapter">
                    <a *ngIf="!isUploadingFile" class="btn-add-file" (click)="triggerNativeFileUpload()">
                        <i class="upload-icon"></i>
                    </a>
                    <input type="file" #nativeFileInput style="display: none;" (change)="onFileChosen(window)" />
                    <div *ngIf="isUploadingFile" class="loader"></div>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>
