$primary-color: #FFF;
$secondary-color: #E3E3E3;
$text-color: #5C5C5C;

%text-definition {
    color: #5C5C5C;
    font-family: Arial, Helvetica, sans-serif;
}

#ng-chat.light-theme
{
    @extend %text-definition;

    .primary-background
    {
        background-color: $primary-color;
    }
    .secondary-background
    {
        background-color: #FAFAFA;
    }
    .primary-outline-color
    {
        border-color:#A3A3A3;
    }
    .primary-text
    {
        @extend %text-definition;
    }
    .friends-search-bar
    {
        background-color: $primary-color;
    }
    .unread-messages-counter-container, .ng-chat-people-action, .ng-chat-people-action > i
    {
        color: $text-color;
        background-color: $secondary-color;
    }
    .load-history-action
    {
        background-color: $secondary-color;
    }
    .chat-window-input
    {
        background-color: $primary-color;   
    }
    .sent-chat-message-container,  .file-message-container
    {
        background-color:$secondary-color;
        border-color: $secondary-color;
    }
    .received-chat-message-container, .file-message-container.received
    {
        background-color:$primary-color;
        border-color: $secondary-color;
    }
}
