<div id="ng4-chat">
    <div id="ng4-chat-people" [ngClass]="{'ng4-chat-people-collapsed':isCollapsed}">
        <a href="javascript:void(0);" class="ng4-chat-title" (click)="onChatTitleClicked($event)">
            <span>
                {{title}}
            </span>
        </a>
        <ul id="ng4-chat-users" *ngIf="!isCollapsed">
            <li *ngFor="let user of users" (click)="onUserClicked(user)">
                <img alt="" class="avatar" height="30" width="30"  src="{{user.avatar}}"/>
                <strong>{{user.displayName}}</strong>
                <span class="ng4-chat-user-status"></span>
            </li>
        </ul>
    </div>
    <ul id="ng4-chat-windows">
        <li *ngFor="let window of windows" class="ng4-chat-window">
            <div class="ng4-chat-title">
                <span>
                    {{window.chattingTo.displayName}}
                </span>
                <a href="javascript:void(0);" class="ng4-chat-close" (click)="onCloseChatWindow(window)">X</a>
            </div>
            <div class="ng4-chat-messages">
                <div *ngFor="let message of window.messages; let i = index" [ngClass]="{'ng4-chat-message': true, 'ng4-chat-message-received': message.fromId != userId}">
                    <img *ngIf="thumbnailVisible(window, message, i)" alt="@rpaschoal" class="avatar" height="30" width="30" [src]="window.chattingTo.avatar" />
                    <span>
                        {{message.message}}
                    </span>
                </div>
            </div>
            <input [(ngModel)]="window.newMessage" type="text" (keypress)="onChatInputTyped($event, window)" />
        </li>
    </ul>
</div>