<div id="ng4-chat">
    <div id="ng4-chat-people">
        <div class="ng4-chat-title">
            <span>
                {{Title}}
            </span>
            <a href="javascript:void(0);" class="ng4-chat-close">X</a>
        </div>
    </div>
    <ul id="ng4-chat-windows">
        <li class="ng4-chat-window">
            <div class="ng4-chat-title">
                <span>
                    Rafael
                </span>
                <a href="javascript:void(0);" class="ng4-chat-close">X</a>
            </div>
            <div class="ng4-chat-messages">
                <div class="ng4-chat-messages-cluster">
                    <ul>
                        <li>
                            Message 1
                        </li>
                        <li>
                            Message 2
                        </li>
                    </ul>
                </div>
                <div class="ng4-chat-messages-cluster ng4-chat-messages-cluster-received">
                    <img alt="@rpaschoal" class="avatar" height="30" src="https://avatars1.githubusercontent.com/u/12396249?v=4&amp;s=40" width="30" />
                    <ul>
                        <li>
                            Just a long text just here to see what happens.
                        </li>
                        <li>
                            Message 2
                        </li>
                    </ul>
                </div>
            </div>
            <input type="text" />
        </li>
        <li class="ng4-chat-window">
                <div class="ng4-chat-title">
                    <span>
                        Second User
                    </span>
                    <a href="javascript:void(0);" class="ng4-chat-close">X</a>
                </div>
                <div class="ng4-chat-messages">
                    <div class="ng4-chat-messages-cluster">
                        <ul>
                            <li>
                                Message 1
                            </li>
                            <li>
                                Message 2
                            </li>
                        </ul>
                    </div>
                    <div class="ng4-chat-messages-cluster ng4-chat-messages-cluster-received">
                        <img alt="@rpaschoal" class="avatar" height="30" src="https://avatars1.githubusercontent.com/u/12396249?v=4&amp;s=40" width="30" />
                        <ul>
                            <li>
                                Just a long text just here to see what happens.
                            </li>
                            <li>
                                Message 2
                            </li>
                        </ul>
                    </div>
                </div>
                <input type="text" />
            </li>
    </ul>
</div>