<div id="ng4-chat">
    <div id="ng4-chat-people" [ngClass]="{'ng4-chat-people-collapsed':isCollapsed}">
        <a href="javascript:void(0);" class="ng4-chat-title" (click)="onChatTitleClicked($event)">
            <span>
                {{title}}
            </span>
        </a>
        <ul id="ng4-chat-users" *ngIf="!isCollapsed">
            <li *ngFor="let user of users" (click)="onUserClicked(user)">
                <img alt="" class="avatar" height="30" width="30"  src="{{user.avatar}}"/>
                <strong>{{user.displayName}}</strong>
                <span class="ng4-chat-user-status"></span>
            </li>
        </ul>
    </div>
    <ul id="ng4-chat-windows">
        <li *ngFor="let window of windows" class="ng4-chat-window">
            <div class="ng4-chat-title">
                <span>
                    {{window.chattingTo.displayName}}
                </span>
                <a href="javascript:void(0);" class="ng4-chat-close" (click)="onCloseChatWindow(window)">X</a>
            </div>
            <div class="ng4-chat-messages">
                <div *ngFor="let message of window.messages" class="ng4-chat-message">
                    <img alt="@rpaschoal" class="avatar" height="30" width="30" [src]="window.chattingTo.avatar" />
                    <span>
                        {{message.message}}
                    </span>
                </div>
                <div class="ng4-chat-message ng4-chat-message-received">
                    <img alt="@rpaschoal" class="avatar" height="30" src="https://avatars1.githubusercontent.com/u/12396249?v=4&amp;s=40" width="30" />
                    <span>
                        Just a long text just here to see what happens.
                    </span>
                </div>
                <div class="ng4-chat-message ng4-chat-message">
                    <span>
                        Just a long text just here to see what happens.
                    </span>
                </div>
            </div>
            <input type="text" (keypress)="onChatInputTyped($event)" />
        </li>
    </ul>
</div>