#ng4-chat
{
    position:fixed;
    z-index:999;
    right:0;
    bottom:0;
    color: #5C5C5C;
    font-family: Arial, Helvetica, sans-serif;
}
#ng4-chat-people
{
    position: relative;
    width: 240px;
    height:360px;
    border: 1px solid #A3A3A3;
    margin-right:20px;
    background-color: #FFF;
    box-shadow: 0 4px 8px rgba(0,0,0,.25);
    border-bottom:0;
}
    #ng4-chat-people.ng4-chat-people-collapsed
    {
        height:30px;
    }
.ng4-chat-close
{
    color: #5C5C5C;
    text-decoration:none;
    float:right;
}
.ng4-chat-title
{
    position: relative;
    z-index:2;
    height:30px;
    line-height: 30px;
    font-size:0.9em;
    padding: 0 10px;
    background-color:#FAFAFA;
    display: block;
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    /* box-shadow: 0 4px 8px rgba(0,0,0,.25); */
    /* background-color:#FFF; */
}
    .ng4-chat-title > strong{
        font-weight: 600;
    }
#ng4-chat-users
{
    list-style: none;
    padding:10px;
    margin:0;
}
    #ng4-chat-users li
    {
        clear: both;
        margin-top: 10px;
        overflow: hidden;
        cursor: pointer;
    }
    #ng4-chat-users li:nth-child(1)
    {
        margin: 0;
    }
        #ng4-chat-users li > img
        {
            border-radius: 25px;
            float: left;
            padding-right: 5px;
        }
        #ng4-chat-users li > strong
        {
            float: left;
            line-height: 30px;
            font-size: 0.8em;
        }
        #ng4-chat-users li > .ng4-chat-user-status
        {
            float: right;
            border-radius: 25px;
            width: 8px;
            height: 8px;
            background-color: #92A400;
            margin-top:10px;
        }
#ng4-chat-windows
{
    position: fixed;
    margin:0;
    list-style: none;
    height:360px;
    z-index:999;
    bottom:0;
    right:260px; /* TODO: This will be calculated by the viewport and the number of windows opened */
}
    #ng4-chat-windows .ng4-chat-window
    {
        float: right;
        height:100%;
        width:300px;
        border:1px solid #A3A3A3;
        margin-right:20px;
        box-shadow: 0 4px 8px rgba(0,0,0,.25);
    }
        #ng4-chat-windows .ng4-chat-window > input
        {
            font-size:0.8em;
            box-sizing: border-box;
            padding:0 5px;
            display:block;
            height: calc(10%);
            width:100%;
            border: none;
            border-top: 1px solid #A3A3A3;
        }
        #ng4-chat-windows .ng4-chat-window .ng4-chat-messages
        {
            padding: 10px;
            height: calc(90% - 50px);
            position: relative;
            overflow: auto;
            background-color: #FFF;
        }
            #ng4-chat-windows .ng4-chat-window .ng4-chat-messages .ng4-chat-message
            {
                clear: both;
            }
            #ng4-chat-windows .ng4-chat-window .ng4-chat-messages .ng4-chat-message > img
            {
                position: absolute;
                left: 10px;
                border-radius: 25px;
            }
            #ng4-chat-windows .ng4-chat-window .ng4-chat-messages .ng4-chat-message > span
            {
                float: right;
                width: 65%;
                padding: 0;
                margin-top: 0;
                background-color:#E3E3E3;
                border-radius: 5px;
                padding: 10px;
                margin-top: 0;
                margin-bottom: 5px;
                font-size: 0.9em;
                word-wrap: break-word;
            }
            #ng4-chat-windows .ng4-chat-window .ng4-chat-messages .ng4-chat-message.ng4-chat-message-received > span
            {
                float: left;
                margin-left: 40px;
                padding-top: 7px;
                padding-bottom: 7px;
                background-color:#FFF;
                border: 3px solid #E3E3E3;
                margin-top: 0;
                margin-bottom: 5px;
            }